---
import Certification from '../Certification.astro'
import CloudPractitionerCertification from '@public/assets/icons/cloud_practitioner_badge.webp'
import DeveloperAssociateCertification from '@public/assets/icons/developer_badge.webp'

interface CertificationProps{
    href: string;
    image: string;
    name: string;
    completed: boolean;
    classnames: string;
}

const certifications: CertificationProps[] = [{href:"https://www.credly.com/badges/222987f0-e207-4534-a021-c4370165bac9",
                        image:CloudPractitionerCertification.src,name:"AWS Cloud Practitioner",
                        completed:true,classnames:"size-44"
                        },
                        {href:"#courses",
                        image:DeveloperAssociateCertification.src,name:"AWS Developer Associate",
                        completed:false,classnames:"grayscale brightness-150 size-44"
                        },
                        ]

const textContext = Astro.props.textContext;

---

<h2 class="text-3xl font-semibold mt-8">{textContext.Title}</h2>
<ul class="mt-10 flex flex-row justify-center">
    {certifications.map(certification=>(
        <Certification name={certification.name} href={certification.href} image={certification.image}
    completed={certification.completed} classnames={certification.classnames} textContext={textContext}/>
    ))}
</ul>