---
import Aws from "../icons/Aws.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import Docker from "../icons/Docker.astro";
import Flask from "../icons/Flask.astro";
import Git from "../icons/Git.astro";
import Python from "../icons/Python.astro";
import Selenium from "../icons/Selenium.astro";
import ProjectCard from "../ProjectCard.astro";


interface Project{
    image: string;
    title: string;
    description: string;
    website: string;
    repository: string;
    technologies: any[];
}

const projects:Project[] = [
    {image:"assets/captures/capture_pdf.webp", title:"My PDF Toolkit", 
        description:"Application for PDF manipulation", 
        website:"https://mmgkxuq3hr.us-east-1.awsapprunner.com/", 
        repository:"https://github.com/francisdayl/my_pdf_toolkit",
        technologies:[Python,Flask,Aws,Docker,Bootstrap,Git]
    },
    {image:"assets/captures/capture_genhora.webp", title:"GenHora", 
        description:"Program that allows to generate all possible schedules based on student/user preferences. The schedules are saved on excel files", 
        website:"", 
        repository:"https://github.com/francisdayl/GenHora",
        technologies:[Python,Selenium,Git]
    },
    {image:"assets/captures/capture_genhora.webp", title:"GenHora", 
        description:"Program that allows to generate all possible schedules based on student/user preferences. The schedules are saved on excel files", 
        website:"", 
        repository:"https://github.com/francisdayl/GenHora",
        technologies:[Python,Selenium,Git]
    },
]

---

<h2 class="text-3xl font-semibold mt-10">Proyectos</h2>

<ul class="grid grid-cols-1 justify-center md:grid-cols-2 gap-14 w-full mx-auto my-10">
    {projects.map(project=>(
        <ProjectCard img={project.image} title={project.title} description={project.description}
        repository={project.repository} website={project.website}>
            <ul class="flex flex-row justify-start gap-3 mt-2">
                {
                    project.technologies.map(TechnologyComponent =>
                        (<TechnologyComponent class="size-8"/>)
                    )
                }
            </ul>
        </ProjectCard>
    ))}
    
</ul>
