---
import Aws from "../icons/Aws.astro";
import Angular from "../icons/Angular.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import Docker from "../icons/Docker.astro";
import Flask from "../icons/Flask.astro";
import Git from "../icons/Git.astro";
import Python from "../icons/Python.astro";
import Selenium from "../icons/Selenium.astro";
import ProjectCard from "../ProjectCard.astro";
import Django from "../icons/Django.astro";
import MySql from "../icons/MySql.astro";
import Typescript from "../icons/Typescript.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import Tailwind from "../icons/Tailwind.astro";


interface Project{
    image: string;
    title: string;
    description: string;
    website: string;
    repository: string;
    technologies: any[];
}

const projects:Project[] = Astro.props.projects;
---

<h2 class="text-3xl font-semibold mt-10">Proyectos</h2>

<ul class="relative grid grid-cols-1 justify-center md:grid-cols-2 gap-14 w-full mx-auto my-10 px-10 sm:px-0">
    {projects.map(project=>(
        <ProjectCard img={project.image} title={project.title} description={project.description}
        repository={project.repository} website={project.website}>
            <ul class="flex flex-row justify-start gap-3 mt-3">
                {
                    project.technologies.map(TechnologyComponent =>
                        (<TechnologyComponent class="size-8"/>)
                    )
                }
            </ul>
        </ProjectCard>
    ))}
    
</ul>
