---
import { IconSkill } 
    from "../icons/index"

interface Skill{
    title: string;
    description: string;
    component: any;
}

interface SkillSet{
    name: string;
    skill: Skill[]
}

const textContext = Astro.props.textContext;
const skillSet: SkillSet[] = Astro.props.skillSet;
---

<h2 class="text-3xl font-semibold">{textContext.Title}</h2>

<table class="w-full  mx-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-10">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                {textContext.Category}
            </th>
            <th scope="col" class="px-6 py-3 text-center">
                {textContext.Tools}

            </th>
        </tr>
    </thead>
    <tbody>
        {
            skillSet.map(setSkill => (
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-1/4">
                    {setSkill.name}
                </th>
                <td class="px-6 py-4 flex justify-start gap-10">
                    {
                        setSkill.skill.map((skill)=>(
                        <IconSkill  title={skill.title} description={skill.description}>
                            <skill.component class='size-10' data-tooltip-target={"tooltip-light-"+skill.title} data-tooltip-style="light"/>
                        </IconSkill>
                        ))
                    }
                </td>
            </tr>
            ))
        }
        
    </tbody>
</table>