---
import Layout from '../../layouts/Layout.astro';

import AboutMe from '../../components/sections/AboutMe.astro';
import Courses from '../../components/sections/Courses.astro';
import Experience from '../../components/sections/Experience.astro';
import Projects from '../../components/sections/Projects.astro';
import SectionContainer from '../../components/SectionContainer.astro';
import SkillsSection from '../../components/sections/Skills.astro';
import {translatedSpanishContent} from '../../../public/locales/es/translations'
import { experience } from "../../../public/locales/es/experience";
import { spanishSkills } from "../../../public/locales/es/skills";
import { spanishProjects } from '../../../public/locales/es/projects';

const spanishContext = translatedSpanishContent;
const spanishExperience = experience;
const spanishSkillSet = spanishSkills;

---

<Layout title="David Yánez L.">
    <main class="overflow-x-hidden">
        <SectionContainer id="about-me" data-section="about-me" class="py-16 md:py-36">
            <AboutMe textContext={spanishContext.AboutMe}/>
        </SectionContainer>
        <div class="space-y-24"></div>
            <SectionContainer id="experience" data-section="experience">
                <Experience textContext={spanishContext.Experience} workExperience={spanishExperience}/>
            </SectionContainer>
            <SectionContainer id="skills" data-section="skills">
                <SkillsSection textContext={spanishContext.Skills} skillSet={spanishSkillSet}/>
            </SectionContainer>
            <SectionContainer id="courses" data-id="courses">
                <Courses textContext={spanishContext.Courses}/>
            </SectionContainer>
            <SectionContainer id="projects" data-id="projects">
                <Projects textContext={spanishContext.Projects} projects={spanishProjects}/>
            </SectionContainer>
        </div>
    </main>
</Layout>
